.friend{
    .menu{
        margin: 30px;
        background-color: rgb(255, 255, 255);
        h2{
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 24px;
        }
        .items{
            display: flex;
            align-items: center;
            width: 100%;
            margin: 5px;
            background-color: rgb(243, 243, 243);
            border-radius: 10px;
            img{
                height: 50px;
                width: 50px;
                object-fit: cover;
                border-radius: 50%;
                margin: 10px;
            }
            span{
                margin: 10px;
                margin-right: 5px;
                margin-top: 10px;
                font-weight: 700;
                font-size: 14px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            p{
                font-weight: 500;
                font-size: 12px;
                color: grey;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            .buttons{
                margin-left: 80px;
                .buttonss{
                    width: 80px;
                    height: 30px;
                    border-radius: 30px;
                    border-color: rgb(38, 255, 0);
                    background-color: rgb(17, 255, 0);
                    color: rgb(0, 0, 0);
                    font-size: 12px;
                }
                .reject{
                    width: 80px;
                    height: 30px;
                    border-radius: 30px;
                    border-color: rgb(255, 0, 0);
                    background-color: rgb(255, 0, 0);
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}